.nav-bg{
    background-color: #6047EC;
}
.my-image{
    filter: brightness(50%);
}
@media only screen and (max-width: 767px) {
  .faq-text{   
    display: flex;
    justify-content: center;
    align-items: center;
  }
  }
  .footer-bg{
    background-color: #6047EC;
  }
  .modal-header{
    background-color:tomato;
    color: white;
  }
  .required::after{
    content: "*";
    color: red;
  }